<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']">ngAuction</a>
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="['/products', 123]" [queryParams]="{color: 'red'}">Product Details</a>
            </li>
            <li class="nav-item" role="button" (click)="navigateToProductDetail(456)">Product Details v2</li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li ngbDropdown class="nav-item">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" ngbDropdownToggle>Services</a>
              <div ngbDropdownMenu aria-labelledby="navbarDropdown">
                <button ngbDropdownItem>Find products</button>
                <button ngbDropdownItem>Place order</button>
                <div class="dropdown-divider"></div>
                  <button ngbDropdownItem>Pay</button>
              </div>
            </li>
        </ul>
    </div>
</nav>